{
  "env": {
    "es6": true,
    "jasmine": true,
    "node": true,
    "mocha": true,
    "browser": true
  },
  "globals": {
      "console": false,
      "define": false,
      "require": false,
      "Modernizr": false
  },
  "rules": {
    curly: 2,
    eqeqeq: [2, "allow-null"],
    wrap-iife: [2, "inside"],
    new-cap: 2,
    no-caller: 2,
    quotes: [2, "single"],
    strict: [2, "global"],
    no-undef: 2,
    no-unused-vars: 2
  }
  ,
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  }
}
